html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
}

.header .container {
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color:white;
	text-align:center;
}

.header .container  img{
	height: 60px;
	margin-bottom:30px;
	margin-top: 30px;
	
}

body {
	background-image: url("https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg");
	background-size:cover;
}

.main {
	margin-top:50px;
}

.main .container h1 {
	color:white;
}

.main .container .form-group {
	color:white;
}

.btn, .btn:hover, .btn:focus, .btn:active {
	background-color:#295F4B;
	border: 0px;
	color:white;
	outline: 0;
}

.form-control {
	border:0px;
	border-radius:0px;
}

.footer .container {
	border-top-width: 1px;
	border-top-style:solid;
	border-top-color:white;
	margin-top:50px;
}

.footer .container li {
	color: white;
	list-style-type:none;
	display:inline;
	margin-right:10px;
	float:left;
}

.footer .container ul {
	margin-top:20px;
	padding:0px;
}
