html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.jumbotron {
  background-color: transparent;
  height: 500px;
}

@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}

.header .container {
	margin-top: 40px;
}

.header .container ul{
	margin-left: 200px;
}

.header .container li {
	list-style-type: none;
	color:#333333;
	}

.header .container li  a{
	color:#333333;
}

.header .container h2 {
	margin: 0px;
	padding: 0px;
	font-size:20px;
}

.header .container h2 {
	margin-right: 200px;

}

.header .container .nav {
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
}

.abc {
	color: #ffc200;
}

.jumbotron .container p {
	margin-top: 120px;
	font-size: 50px;
}

.jumbotron .container p {
	font-size: 50px;
}

.banner {
	background-color:#333333;
	height:150px;
}

.banner .container h1 {
	color:#FFFFFF;
	text-align: center;
}

.banner .container p {
	color:#FFFFFF;
	text-align: center;
}

.cards {
	background-color:#FFC200;
	}

.cards .container h1 {
	text-align: center;
	margin-top:100px;
	margin-bottom:50px;
	color: #3F3333;
}

.cards .container li {
	list-style-type: none;
	margin-bottom: 50px;
}

.cards .container table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

.footer {
	background-color:#000000;
	height:250px;
	}
	
.footer .container {
	margin-left:400px;
}	
	
.footer .container address{
	color:#FFFFFF;
	margin-top: 80px;
	margin-bottom:10px;
}

.footer .container a img{
	height:25px;
	margin-right:10px;
}

.footer .container .company {
	font-size: 20px;
}

.footer .container .space {
	font-size: 12px;
}
